body{
    margin: 0;
    background-color: #ffffff
}
nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #7A9E7E;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 2em;
    z-index: 1000;
}
nav .logo img {
    margin-top: 20%;
    top: 30px;
}
nav .botones {
    display: flex;
    gap: 10em;
    padding-left: 100px;
    width: 100%;
}
nav .botones button {
    flex-grow: 1;
    border: none;
    background-color: #fff4e6;
    font-size: 1em;
    cursor: pointer;
    padding: 0.5em 1em;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 25px;
    text-align: center;
    color: #000000;
}
nav .botones button a {
    text-decoration: none;
    color: #ff6a00;
}
nav .botones button:hover {
    background-color: #5E503F;

    border: 2px solid #FFEFEF;
}
nav .botones button a:hover {
    color: #ff6a00;
}
nav .usuario{
    display: flex;
    gap: 10em;
    width: 50%;
}
nav .usuario-conectado{

}
nav .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
nav .user-menu {
    position: absolute; /* Posiciona el menú  a la derecha */
    right: 1em; /* Espacio a la derecha */
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
}
nav .dropdown-toggle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
nav .dropdown-menu.show {
    display: block;
}
nav .dropdown-menu {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 0;
    min-width: 150px;
}
nav .dropdown-item {
    padding: 5px 15px;
    color: #5E503F;
    text-decoration: none;
}


.image-container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: auto;
    background-color: #703a21;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.search-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}
.tituloBuscador{
    font-size: x-large;
}
.search-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.search-button {
    padding: 10px 20px;
    background-color: #ff6a00;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #ffae6a;
}
.categoriasRecetas {
    text-align: center;
    padding-bottom: 80px;
    background-color: #f8cebc;
    padding-top: 90px;
}

.categoriasRecetas h2 {
    font-size: 2em;
    color: #344e41;
    margin-bottom: 20px;
}

.categorias-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap:wrap;
}

.categoria {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.categoria:hover {
    transform: translateY(-10px);
}

.categoria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.categoria-info {
    padding: 15px;
    background-color: #F2DBAE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria-info span {
    font-size: 1.2em;
    font-weight: bold;
    color: #344e41;
}

.categoria-link {
    font-size: 1.5em;
    text-decoration: none;
    color: #344e41;
}


.container-recomendacion {
    padding-bottom: 80px;
    padding-top: 90px;
    text-align: center;
    background-color: #F2DBAE;
}

.container-recomendacion h2 {
    font-size: 2em;
    color: #344e41;
    margin-bottom: 20px;
}

.recetasRecomendadas {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    flex-wrap: wrap;
}

.receta {
    width: 300px;
    background-color: #ff666675;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.receta:hover {
    transform: translateY(-10px);
}

.receta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.receta-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.receta-info span {
    font-size: 1rem;
    color: #777;
}

.receta-link {
    text-decoration: none;
    color: inherit;
    display: block;
}


.receta-info {
    padding: 10px;
}

.titulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #344e41;
}

.tiempo {
    font-size: 1rem;
    color: #777;
}
.profesionales-container{
    background-color: #deffbc;
    padding-bottom: 90px;
    padding-top: 80px;
    text-align: center;

}
.profesionales-container h2{
    margin-bottom: 25px;
    font-size: 2em;
    color: #344e41;
}

.profesionales-card{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap:wrap;
}
.profesional{
    width: 300px;
    background-color:#90ff87;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.profesional:hover{
    transform: translateY(-10px);
}

.profesional img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.info-profesional{
    padding: 15px;
    background-color: #90ff87;
}
.nombre-chef {
    font-size: 1.5em;
    font-weight: bold;
    color: #2b1818;
}

.descripcion-chef {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
}


footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 60px;
    background-color: #5E503F;
    border-top: 1px solid #57de09;
    color: #fefae0;
    font-size: 0.9em;
}