<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Home</title>
  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/home.css}">

</head>

<body>

<nav >
  <div class="logo">
    <a href="http://localhost:8080/spring/inicio">
      <img src="https://i.postimg.cc/WzB31sKN/milanesa-logo.png" width="200px">
    </a>
  </div>
  <section class="botones">
    <button type="button" class="recetas">
      <a href="http://localhost:8080/spring/vista-receta" class="link-receta">
        Recetas
      </a>
    </button>
    </a>
    <button type="button" class="planificador">
      <a href="http://localhost:8080/spring/vista-planificador" class="link-receta">
      Planificador
      </a>
    </button>
    <button type="button" class="listaCompras" onclick="mostrarPopup()">
      Lista de compras
    </button>
    <button type="button" class="perfil" onclick="mostrarPopup()">
      Perfil
    </button>
  </section>
</nav>
<main>
  <section class="image-container">
    <img src="https://wallpapers.com/images/hd/food-4k-1pf6px6ryqfjtnyr.jpg" alt="foto de fondo" >
    <form method="post" th:action="@{/buscar-receta-titulo}" class="search-overlay">
      <label for="tituloBusqueda" class="tituloBuscador">Que te gustaria cocinar hoy? </label>
      <div class="buscar-container">
        <input type="text" id="tituloBusqueda" name="titulo" placeholder="Buscar recetas" th:value="${tituloBuscado}" class="search-input"/>
        <button type="submit" class="search-button">Buscar</button>
      </div>
    </form>

  </section>
  <section class="categoriasRecetas">
    <h2>CATEGORÍAS POPULARES</h2>
    <article class="categorias-container">
      <div class="categoria">
        <img src="https://i.postimg.cc/3ND97r29/desayuno.jpg" alt="Desayuno/Almuerzo">
        <div class="categoria-info">
          <span>Desayuno/Almuerzo</span>
          <a href="/categorias/desayuno" class="categoria-link"></a>
        </div>
      </div>
      <div class="categoria">
        <img src="https://i.postimg.cc/3ND97r29/desayuno.jpg" alt="Almuerzo/Cena">
        <div class="categoria-info">
          <span>Almuerzo/Cena</span>
          <a href="/categorias/almuerzo" class="categoria-link"></a>
        </div>
      </div>
      <div class="categoria">
        <img src="https://i.postimg.cc/3ND97r29/desayuno.jpg" alt="Postre">
        <div class="categoria-info">
          <span>Postre</span>
          <a href="/categorias/postre" class="categoria-link"></a>
        </div>
      </div>
    </article>

  </section>

  <section class="container-recomendacion">
    <h2>RECOMENDACIONES</h2>
    <article class="recetasRecomendadas categorias-container">
      <div th:each="receta : ${recetasRecomendadas}" class="receta categoria">
        <a th:href="@{/detalleReceta(id=${receta.id}, titulo=${receta.titulo}, imagen=${receta.imagen}, ingredientes=${receta.ingredientes})}" class="receta-link">
        <img th:src="${receta.imagen}" alt="recetaRecomendada" class="receta-imagen">
        <div class="receta-info">
          <h3 class="titulo" th:text="${receta.titulo}"></h3>
          <span class="tiempo" th:text="'tiempo ' + ${receta.tiempo_preparacion}"></span>
        </div>
        </a>
      </div>
    </article>

  </section>

  <section class="Novedades">
  </section>
  </main>


<footer>

</footer>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>