<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vista Receta</title>
    <link rel="stylesheet" th:href="@{/css/vistaReceta.css}">
    <script>function mostrarPopup() {alert("Funcionalidad en desarrollo!");} </script>
</head>
<body>
<nav>
    <div class="logo">
        <img src="https://i.postimg.cc/WzB31sKN/milanesa-logo.png" width="200px">
    </div>
    <section class="botones">
            <button type="button" class="recetas">
                <a href="http://localhost:8080/spring/vista-receta" class="link-receta">
                    Recetas
                </a>
            </button>
        </a>
        <button type="button" class="planificador" onclick="mostrarPopup()">
            Planificador
        </button>
        <button type="button" class="listaCompras" onclick="mostrarPopup()">
            Lista de compras
        </button>
        <button type="button" class="perfil" onclick="mostrarPopup()">
            Perfil
        </button>
    </section>
</nav>
<main>
    <h1>Recetas</h1>
    <section class="filtros">
        <form method="post">
            <label for="time">
                Tiempo de preparación
            </label>
            <select id="time" name="tiempo" th:value="${tiempoSeleccionado}">
                <option value="-" th:selected="${tiempoSeleccionado == '-'}">-</option>
                <option value="10min" th:selected="${tiempoSeleccionado == '10min'}">10min</option>
                <option value="30min" th:selected="${tiempoSeleccionado == '30min'}">30min</option>
                <option value="60min" th:selected="${tiempoSeleccionado == '60min'}">1h</option>
            </select>
            <label for="categorias">
                Categoría
            </label>
            <select id="categorias" name="categoria" th:value="${categoriaSeleccionada}">
                <option value="todos" th:selected="${categoriaSeleccionada == 'todos'}">Todos</option>
                <option value="desayuno" th:selected="${categoriaSeleccionada == 'desayuno'}">Desayuno/Merienda</option>
                <option value="almuerzo" th:selected="${categoriaSeleccionada == 'almuerzo'}">Almuerzo/Cena</option>
            </select>
            <button type="submit">Filtrar</button>
        </form>
    </section>
    <section class="recetas">
        <article th:each="receta : ${todasLasRecetas}">
            <a th:href="@{/detalleReceta(id=${receta.id}, titulo=${receta.titulo}, imagen=${receta.imagen}, ingredientes=${receta.ingredientes})}" class="receta">
                <h2 class="titulo" th:text="${receta.titulo}">Nombre comida</h2>
                <p class="desc" th:text="${receta.descripcion}">Descripción</p>
                <img class="foto" th:src="${receta.imagen}" alt="Imagen receta">
            </a>
        </article>
    </section>
</main>
<footer>
</footer>
</body>
</html>